<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <title>Student Finance</title>
    <link rel="stylesheet"
          th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-inner">
            <a class="brand" href="http://coder36.blogspot.co.uk/">
                Student Finance
            </a>
            <ul class="nav pull-right">
                <li>
                    <a th:href="@{/}" href="list.html">
                        View saved applications
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div layout:fragment="header">Layout</div>
    <div layout:fragment="content">
        Fake content
    </div>
</div>
</body>
</html>